@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Poppins';
    scroll-behavior: smooth;  
}


.header{
    height: 100vh;
    width: 100%;
}


img{
    width: 20%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #DAA25A;
    z-index: 1;
    box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 20px;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    
}



.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    display: block;
    transition: 0.4s;
    margin: auto;
}


.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.text-box h1{
    font-size: 5.6rem;
    font-family: "Quicksand";
}

.text-box h1 span{
    color: #DAA25A;
    font-family: 'Quicksand';
}

.hero-btn{

    display: inline-block;
    background-color: #DAA25A;
    padding: 17px 34px;
    color: white;
    border: 2px solid black;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    position: relative;
    border-radius: 30px;
}

.hero-btn:hover{
    transition:.3s ease ;
    box-shadow: 6px 5px black;
}


 nav .material-symbols-outlined{
    display: none;
 }


#cursor {
    animation: 1.2s infinite steps(1) blink;

}



@keyframes blink {
/*fully invisible*/
    0% , 100% {
        opacity: 0;
    } 
/*invisible at 50%*/
    50%{
        opacity: 1;
    }
}


.about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.about-me span{
color: #DAA25A;
}
.about-me h1{
    font-size: 40px;
}

.about-me p{
    font-size: 22px;
    letter-spacing: 2pt;
}
.row{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-column-gap:20px ;
    
 }
 
 .row h2{
    text-transform: capitalize;
    margin-bottom: 10px;
 }
 .row p{
    font-family: "Jost";
    font-size: 18px;
    letter-spacing: .8px;
 }
 
 .aboutme-col{
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
 }


 
 .row img {
    width: 50%;
    margin-left: 30%;
}

.skills {
    
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}

.skills span{
    color: #DAA25A;
}

.skills h1 {
    font-size:40px ;
    margin-bottom: 120px;
}


.skills-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-category {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(3, 1, 1, 0.301);
    padding: 20px;
}

.skill-category:hover{
    box-shadow: 0 2px 10px rgba(3, 1, 1, 0.726);
    transition:  .3s ease;
}

.skill-category h3 {
    font-size: 1.5em;
    color: #DAA25A;
    margin-bottom: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
}

.skill-category li {
    font-size: 1em;
    margin: 5px 0;
}

.skill-category span {
    font-weight: bold;
    color: #DAA25A;
}

.work{
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 200px;
}

.work span {
    color: #DAA25A;
}
.work h1{
    font-size: 40px;
    margin-bottom: 120px;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.project{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(3,1,1,0.301);
}

.project:hover{
    box-shadow: 0 2px 10px rgba(3, 1, 1, 0.726);
    transition:  .3s ease;
}

.work img{
    width: 100%;
    display: block;
    height: auto;
}







.form-container {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    background: #fff;
    padding: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    margin-bottom: 15px;

}
.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}
.form-group button {
    padding: 12px 20px;
    background-color: #DAA25A;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid black;
}
.contact h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}

.form-group button:hover{
    box-shadow: 4px 3px black;
    transition: .3s all ease-in;
}

.contact span {
    color: #DAA25A;
}
/*responsive*/
@media (max-width:700px) {
    .text-box h1{
        font-size: 35px;
    }

    img{
        margin-top: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: #DAA25A;
        top: 0;
        width: 200px;
        right: -200px;
        height: 100vh;
        text-align: left;
        z-index: 1;
        transition: 0.5s;
    }

    .nav-links ul li a:hover{
        font-size: 20px;
        transition: .3s ease;
    }
    nav .material-symbols-outlined{
        display: block;
        color: black;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .row p{
        width: 100%;
        text-align: center;
    }
    .row {
        grid-template-columns: 1fr;

    }
    .row img{
        display: none;
    }
}


